<li>
  <% post.comments.each do |c| %>
    <span class="content"><%= c.content %>
      <!-- this block allows liking/unliking comments -->
      <% unless c.content.nil? %>
        <%= render 'shared/like_stub', post: c %>
      <% end %>
      <!-- if weird stuff happens when liking comments, remove/retool this -->
    </span>
    <span class="info">
      <% unless c.user.nil? && c.created_at.blank? %>
        <%= link_to gravatar_for(post.user, size: 20), post.user %>
        <%= "Posted #{time_ago_in_words(c.created_at)} ago by #{c.user.email}" %>
      <% end %>
      <br />
    </span>
    <% if current_user.comments.include?(c) || current_user.posts.include?(post) %>
      <span class="options">
        <ul>
          <li>
            <% unless c.id.nil? %>
              <%= link_to "delete comment", comment_path(c.id), method: :delete,
                                            class: "btn btn-xs btn-danger",
                                            data: { confirm: "Delete comment?" } %>
            <% end %>
          </li>
        </ul>
      </span>
    <% end %>
  <% end %>
</li>
