<%= will_paginate %>
<% @users.each do |user| %>
  <li>
    <%= link_to "#{user.email}", user %>
    <% unless current_user == user %>
      <% if current_user.friends_with?(user) %>
        <%= link_to "unfriend",
            friendship_path(current_user.find_friendship(user)),
            method: :delete, class: "btn btn-warning btn-xs",
            data: { confirm: "Confirm unfriend #{user.name}" } %>
      <% elsif current_user.request_sent(user) %>
        <%= link_to "cancel", friendship_path(current_user.request_sent(user)),
            method: :delete, class: "btn btn-warning btn-xs",
            data: { confirm: "Confirm cancel request" } %>
      <% elsif current_user.request_received(user) %>
        <%= link_to "accept",
            friendship_path(current_user.request_received(user), accepted: true),
            method: :patch, class: "btn btn-warning btn-xs",
            data: { confirm: "Confirm friend #{user.name}"} %>
        <%= link_to "decline",
            friendship_path(current_user.request_received(user)), method: :delete,
            class: "btn btn-danger btn-xs",
            data: { confirm: "Confirm decline friend #{user.name}" } %>
      <% else %>
        <%= form_for(current_user.friendships.build) do |f| %>
          <%= hidden_field_tag :requester_id, current_user.id %>
          <%= hidden_field_tag :requested_id, user.id %>
          <%= f.submit "friend", class: "btn btn-success btn-xs" %>
        <% end %>
      <% end %>
    <% end %>
  </li>
<% end %>
<%= will_paginate %>
