<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'users/user_stub', user: @user %>
    </section>
  </aside>
<% if current_user == User.find_by(id: params[:id]) %>
  <%= render 'posts/post_form' %>
<% end %>
<div class="col md-8">
  <% if @friends %>
    <h3>Friends (<%= @friends.count %>)</h3>
    <% @friends.each do |fr| %>
      <%= render 'users/user', user: fr %>
    <% end %>
    <%= will_paginate @friends %>
  <% end %>
</div>
<div class="col md-8">
  <% if @user.posts.any? %>
    <h3>Posts (<%= @user.posts.count %>) </h3>
    <ol class="posts">
      <%= render @posts %>
    </ol>
    <%= will_paginate @posts %>
  <% end %>
</div>
