<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Odin Facebook", root_path, class: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <% if user_signed_in? %>
          <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <% if current_user.received_requests.count > 0 %>
                <span class="glyphicon glyphicon-heart" style="color:red"></span>
              <% else %>
                <span class="glyphicon glyphicon-heart" style="color:blue"></span>
              <% end %>
              <span class="badge"><%= current_user.received_requests.count %></span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu navbar-inverse" role="menu">
              <% current_user.received_requests.each do |u| %>
                <li><%= render 'users/user', user: u %></li>
                <li class="divider"></li>
              <% end %>
            </ul>
          </li>
          <li><%= link_to "Friends", user_friends_user_path(current_user) %></li>
          <li><%= link_to "Timeline",         posts_path %></li>
          <li><%= link_to "Browse all users", users_path %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",     root_path %></li>
        <li><%= link_to "Help",     help_path %></li>
        <li><%= link_to "About",    about_path %></li>
        <li><%= link_to "Contact",  contact_path %></li>
      </ul>
    </nav>
  </div>
</header>
